<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.dokterkit.lifeco">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/dokterkit"
        android:label="dokterkit"
        android:largeHeap="true"
        android:roundIcon="@drawable/dokterkit"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.dokterkit.LifeCo.activities.MaterialDetailActivity"
            android:exported="true" />
        <activity android:name="com.dokterkit.LifeCo.activities.GroupEditActivity" />
        <activity android:name="com.dokterkit.LifeCo.activities.GroupInfoActivity" />
        <activity android:name="com.dokterkit.LifeCo.activities.GroupParticipantAddActivity" />
        <activity android:name="com.dokterkit.LifeCo.activities.GroupChatSOCSActivity" />
        <activity android:name="com.dokterkit.LifeCo.activities.RegistrationSOCSActivity" />
        <activity android:name="com.dokterkit.LifeCo.activities.SOCSNotesEditActivity" />
        <activity android:name="com.dokterkit.LifeCo.activities.SOCSMainActivity" />
        <activity android:name="com.dokterkit.LifeCo.activities.AddGroupActivity" />
        <activity android:name="com.dokterkit.LifeCo.activities.GroupMessageActivity" />
        <activity
            android:name="com.dokterkit.LifeCo.activities.GroupChatActivity"
            android:theme="@style/AppTheme" />
        <activity android:name="com.dokterkit.LifeCo.activities.BarcodeDataActivity" />

        <uses-library
            android:name="com.google.android.wearable"
            android:required="false" />
        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity
            android:name="com.dokterkit.LifeCo.activities.SplashScreenNew"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.dokterkit.LifeCo.activities.welcome" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name="com.dokterkit.LifeCo.activities.DriverMapsActivity"
            android:label="@string/title_activity_driver_maps" />
        <activity
            android:name="com.dokterkit.LifeCo.activities.PassengerMapsActivity"
            android:label="@string/title_activity_passenger_maps" />
        <activity android:name="com.dokterkit.LifeCo.activities.ChatMainActivity" />
        <activity android:name="com.dokterkit.LifeCo.activities.RegistrationActivity" />
        <activity android:name="com.dokterkit.LifeCo.activities.RegistrationDriverActivity" />
        <activity android:name="com.dokterkit.LifeCo.activities.LoginActivity" />
        <activity android:name="com.dokterkit.LifeCo.activities.LoginDriverActivity" />
        <activity android:name="com.dokterkit.LifeCo.activities.DetailActivity" />
        <activity android:name="com.dokterkit.LifeCo.activities.MainActivity" />
        <activity android:name="com.dokterkit.LifeCo.activities.ResetPasswordActivity" />
        <activity android:name="com.dokterkit.LifeCo.activities.MessageActivity" />
        <activity android:name="com.dokterkit.LifeCo.activities.SplashScreenActivity" />
        <activity android:name="com.dokterkit.LifeCo.fragments.Capture" />
    </application>

</manifest>